Sylvie Boldo <sylvie.boldo@inria.fr> <sboldo@quetsche.inria.fr>
Xavier Leroy <xavier.leroy@college-de-france.fr> <xavier.leroy@inria.fr>
Pierre Roux <pierre.roux@onera.fr> <pierre@roux01.fr>
Pierre Roux <pierre.roux@onera.fr> <proux@lri.fr>
